

body {
    background-color: rgb(61, 93, 61);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#jackBlack {
    max-width: 100px;
    display: flex;
    align-items: start;
    padding: 10px;
}

#trainer {
    background-color:rgb(107, 164, 107) ;
}

#dealer-cards img,
#your-cards img {
    max-width: 20%;
    height: auto;
    margin: 1px;
}

#hit,
#stay {
    width: 20%;
    max-width: 150px;
    height: 50px;
    font-size: 16px;
    border-radius: 25px;
    margin-bottom: 10px;
}

#results {
    color: white;
    font-size: 60px;
}

#buttons {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

@media (min-width: 600px) {
    /* Adjust styles for larger screens if needed */
    #hit,
    #stay {
        font-size: 20px;
    }

    #results {
        font-size: 100px;
    }
}
